beautifulsoup4==4.4.1
cycler==0.10.0
futures==3.0.5
goslate==1.5.1
lxml==3.6.1
matplotlib==1.5.1
numpy==1.11.1
publicsuffix==1.1.0
pyparsing==2.1.4
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.10.0
selenium==2.53.6
six==1.10.0
Unidecode==0.4.19
